body{
 
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  background: #E5E5E5;
  color: #212121;
  
}
h1,h2,h3,h4,h5,h6,
p,
ul,li{
  margin:0;
  padding: 0;
}
img{
  display: block;
  max-width: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0; 
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container{
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
:root{
  --brand-color: #212121;

}

.link{
  color: #212121;
  text-decoration: none;
  cursor: pointer;
}
.link-studio{
  position: relative;
  
}
.link-studio.active::after{
  display: flex;
  content: '';
  position:absolute ;
  width: 100%;
  height: 4px;
  bottom: 0;
  background: #2196F3;
  border-radius: 2px;
  
}
.link-portfolio{
  position: relative;
  
}
.link-portfolio.active::after{
  display: flex;
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  background: #2196F3;
  border-radius: 2px;
  
}

/*header*/
.page-header{
  background: #FFFFFF;
  display: flex; 
  align-items: center;
  
}
.list{
  list-style: none;
}
.web-studio-link{
  text-decoration: none;
  margin-right: 93px;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  
}

.web-studio-color-web{
  color: #2196F3;
  
}
.web-studio-color-studio{
  color: #000;
}
/*nav */
.page-header-portfolio{
  border-bottom: 1px solid #ECECEC;
  background: #FFFFFF;
}
.header-container{
  
  display:flex;
  align-items: center;
  
}
.header-connect{
  margin-left: auto;
}
.navigation-list:not(:last-child){
  margin-right: 50px;
}
.navigation-links{
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

}
.link-contact,
.link-portfolio,
.link-studio,
.contacts-mail-links,
.contacts-tel-links{
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 32px 0;
  
}

.contacts-mail-links{
  margin-right: 50px;
 
}
.contacts-mail-links,
.contacts-tel-links{
  display: flex;
  align-items: center;
}
.mail-icon,
.tel-icon {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-mail-links,
.contacts-tel-links{
  color: #757575;
  
  
}
.navigation-links .link:hover,
.navigation-links .link:focus{
  color: #2196F3;
  
}

.contacts-mail-links:hover .mail-icon ,
.contacts-mail-links:focus .mail-icon {
  fill: #2196F3;
  
}
.contacts-tel-links:hover .tel-icon ,
.contacts-tel-links:focus .tel-icon {
  fill: #2196F3;
 
}
.portfolio-section{
  background: #FFFFFF;
  padding-bottom: 94px;
  padding-top: 94px;
}
.portfolio-list-button{
  display: flex;
  justify-content: center;
  
  margin-bottom: 56px;
}
.portfolio-list{
  display: flex;
  flex-wrap: wrap;  
  margin-top: -30px; 
  margin-left: -30px;
}

.portfolio-image{
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  outline: 1px solid #EEEEEE;
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-image:hover .portfolio-overlay{
  transform:translateY(0) ;
}
.thumb-portfolio{
  position: relative;
  overflow: hidden;
}
.portfolio-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(+101%);
  width: 370px;
  height: 294px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
}

.overlay-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 322px;
  height: 168px; 
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.portfolio-image:focus,
.portfolio-image:hover{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px 
  rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  
}
.portfolio-paragraf{
  padding: 20px 24px;
  
}
.title-portfolio{
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  
}
.title-portfolio-function{
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio-container{
  margin: 0 auto;
}
.current{
  color:#2196F3 ;
}
.contacts-mail-links .link:hover,
.contacts-mail-links .link:focus{
  color: #2196F3;

}


/*order-main */

.order{
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)),
  url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.order-title{
  
  
}
.order-text{
  width: 696px;  
  margin-left: auto;  
  margin-right: auto;  
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  color: #fff;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/*button */

.order-button{

  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
  width: 200px;
  height: 50px;

}
.order-button .button:hover,
.order-button .button:focus{
  color: #188CE8;

}
.button-text{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  
}
/*title */
.title-section{
  background: #fff;
  padding-bottom: 94px;
  padding-top: 94px;
}
.title-list{
  display: flex;
  align-items: center;
 
}

.title{
  
  font-weight: bold;
  font-size: 14px;
  line-height: 1,14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  
}

.title-content{
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  letter-spacing: 0.03em;
  
}
.info-icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
 
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  
}

.info-item{
  margin-right: 30px;
  min-width: 270px;
}
/*
.info-list{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -30px;
  
}
.info-item{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F5F4FA;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}
*/
.work-section{
  text-align: center;
  background: #fff;
  padding-bottom: 94px;
}
.work-list{
  
  display: flex;
  
}

.work-item:not(:last-child){
  margin-right: 27px;
}
.title-work{
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
  margin-left: auto;  
  margin-right: auto; 
  }
.work-item{
  position: relative;
}
.work-text{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 27px 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: #fff;
  }
  /* team*/

  .team-section{
    background: #F5F4FA;
    text-align: center;
    display: flex;
    padding-bottom: 94px;
    padding-top: 94px;
  }
  .team-list{
    display: flex;
    
  }

  .team-item:not(:last-child){
  margin-right:30px;
  
}
  .team-item{
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
  .team-paragraf{
    padding: 30px 0 30px 0;
  }
  .title-team{
    justify-content: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    display: flex;
    margin-left: auto;  
    margin-right: auto; 
    margin-bottom: 50px;
    
  }
  
.team-subtitle{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-functions{
  font-size: 16px;
  line-height: 1.18;
  color: #757575;
  margin-bottom: 16px;
}

.team-social-list{
  display: flex;
  justify-content: center;
}
.team-social-link{
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-item + .team-social-item{
  margin-left: 10px;
}
.team-social-icon{
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus{
  background-color: #2196F3;
}
.team-social-link:hover .team-social-icon,
.team-social-link:focus .team-social-icon{
  fill: #fff;
  
}
/*customer */
.customer{
  padding: 94px 0;
  background-color: #fff;
}
.customer-title{
  font-weight: bold;
  font-size: 36px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  
}
.customer-list{
  display: flex;
  justify-content: center;
  margin-left: -30px;

}
.customer-item{
  display: flex;
  flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
}
.customer-link{
  
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-icon{
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-link:hover,
.customer-link:focus{
  border-color: #2196F3;
}

.customer-link:hover .customer-icon,
.customer-link:focus .customer-icon{
  fill: #2196F3;
}
/*
.customer-icon{
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
}
.customer-icon:hover,
.customer-icon:focus{
  fill: #2196F3;
  border-color: #2196F3;
*/

/*button*/
.button-portfolio,
.order-button{
  cursor: pointer;
  border:none;
}
.button-portfolio{ 
  background: #F5F4FA;
  border-radius: 4px;
  color: var(--brand-color);
  margin-right: 8px; 
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.button-portfolio:hover,
.button-portfolio:focus{
  background-color: #2196F3;
  color: #F5F4FA;
}
.current{
 color: #2196F3;
}


.button-all{
  
  font-family: Roboto;
 
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;
}
.button-web{
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;
}
.button-app{
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  width: 145px;
  height: 38px;
  left: 712px;
  top: 174px;
}
.button-design{
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  width: 103px;
  height: 38px;
  left: 865px;
  top: 174px;
}
.button-marketing{
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  width: 130px;
  height: 38px;
  left: 976px;
  top: 174px;
}

.button-portfolio:focus,
.button-portfolio:hover{
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*portfolio */
.portfolio{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.title-portfolio{
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}


.title-function{

  font-size: 16px;
  line-height: 1.87;
  color: #757575;
  letter-spacing: 0.03em;
}


/*footer*/
.main-footer{
  display: flex;
  align-items: baseline;
}
.contact-footer{
  
  background: #2F303A;
  padding: 60px 0;
  margin-left: auto;
  margin-right: auto;
  
  
}
.contact-link{
  color: #757575;
  
}
.list-contact .link:hover,
.list-contact .link:focus{
  color: #2196F3;
  
}
.list-contact{
  
}
.footer-left{
  text-decoration: none;
  margin-right: 70px;
}
.web-studio-footer{
  display: flex;
  padding: 0;
  margin-bottom: 20px;
}

.web-studio-color-studio-footer{
  color: #fff;
  
}
.contact-link-maps{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  } 
  .maps-item{
    
    margin-bottom: 9px;
    
  }
  .mail-item{
    margin-bottom: 9px;

  }
.contact-link-mail,
.contact-link-tel{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
 
  .footer-right{
    
  }
  .footer-right-title{
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    
  }
  .footer-social-list {
    display: flex;
    justify-content: center;
  }
  .footer-social-item + .footer-social-item{
   margin-left: 10px;
  }
  .footer-social-link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-social-icon{
    fill: #F5F4FA;
    
  }

  .footer-social-link:hover,
  .footer-social-link:focus{
    background-color: #2196F3;
  }

  .form-footer{
    
  }

  .footer-end{
    margin-left: 70px;
    
  }

  .footer-form-field{
    position: relative;
    display: flex;
    
  }

  .footer-form-title{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
  }


  .footer-form-field input{
    padding: 16px;
    letter-spacing: 0.03em;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.6);
  }

  .footer-input-email{
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: none;
      }


  .footer-label-email{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);

  }

  .button-footer-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin-left: 12px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }

  .footer-button-text{
    
    letter-spacing: 0.06em;
    font-weight: bold;
    font-size: 16px;
    line-height: 2.14;
    color: #FFFFFF;
  }
.form-send-icon{
  margin-left: 10px;
}
  /* modal*/
textarea{
  resize: none;
}
.modal{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  }
  
.backdrop{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden{
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}
.modal-icon{
 position: absolute;
 top: 0;
 right: 0;
 margin: 6px;
 padding: 0;
 cursor: pointer;
}

.modal-icon:hover{
  fill: #2196F3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button{
  position: absolute;
  top: 0;
  right: 0;

  margin: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-title{
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 40px auto 30px auto;
  }

  .form{
    padding: 0;
    margin: 0;
    width: 448px;
    margin-left: auto; 
    margin-right: auto;
    
  }
  .form-field{
   display: flex;
   flex-direction: column;
   position: relative;
   
  }

  .form-label{
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    
    
    letter-spacing: 0.01em;
    
    color: #757575;
    
  }

  .form-input{
    
    padding-left: 42px;
   width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
  }

  .form-input:focus{
  border-color: #2196F3;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .form-icon{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  }
  .form-input:focus + .form-icon{
    fill: #2196F3;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  
  .form-coments{
    padding: 12px 16px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
  }

  .polisity-label{
    font-weight: normal;
font-size: 14px;
line-height: 1.2;
letter-spacing: 0.03em;

color: #757575;
display: flex;
justify-content: center;
  }
  .polisity-label::before{
    content: '';
    width: 15px;
    height: 15px;
    border: 1px solid #212121;
    border-radius: 2px;
    margin-right: 7px;
  }

  .polisity-check:checked + .polisity-label::before{
    border:none;
    background-image: url(../images/icon-check.svg);
    background-repeat: no-repeat;
    background-position: center;
    block-size: cover;
  }
  .polisity-link{
    color: #2196F3;
  }

  .checkbox-content{
    padding: 20px 0 30px 0;
  }

.button-checkbox{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  width: 200px;
  height: 50px;
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
}

.checkbox-btn-text{
  
}

